# This file is part of Group Calendar Import Data WoW Classic AddOn.

# Group Calendar Import Data WoW Classic AddOn is free software: 
# you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Group Calendar Import Data WoW Classic AddOn is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Group Calendar Import Data WoW Classic AddOn.
# If not, see <https://www.gnu.org/licenses/>.

# Ignore everything
*

# Don't ignore subdirectories
*/

# Don't ignore lua files
!*.lua

# Don't ignore toc files
!*.toc

# Don't ignore xml files
!*.xml

# Don't ignore repository files
!.gitignore
!.gitlab-ci.yml
!COPYING
!README
!pkbmeta.yaml